{% extends 'base.html.twig' %}

{% block title %}Card index{% endblock %}

{% block body %}

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Attac</th>
            <th>Self Défence</th>
        </tr>
        </thead>
        <tbody>
        {% for card in cards %}
            <tr>
                <td>{{ card.id }}</td>
                <td>{{ card.name }}</td>
                <td>{{ card.attac }}</td>
                <td>{{ card.selfdefense }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}